@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Source+Sans+Pro:wght@300;400;600&display=swap');



*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Merriweather', serif;
}

.hidden {
    display: none;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    flex: 1;
}

/* -------------------------------------- navbar ------------------------------------------------ */
.navbar {
    margin-top: 5em;

}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.8rem;
}

.navbar ul li {
    border: 1px solid rgb(209, 206, 206);
    background: #fff8f8;
    border-radius: 2.2rem;
    padding: 0.5rem 1.8rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-right: 1.5em;
}

.active-nav {
    background: #D6C8C3 !important;
}

ul li {
    list-style: none;

}

ul li a {
    text-decoration: none;
    color: #000000ce;
}

.nav-items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}

#dark-mode-img {
    position: absolute;
    opacity: 1;
}

#light-mode-img {
    opacity: 0;
}

/* -------------------------------------------- profile wrapper -------------------------------- */

.profile-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}

.profile-img img {
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
}

.link-icons {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;

}

.link-icons img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 20%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.link-icons img:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

}


.right-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 55%;
    justify-content: center;
    justify-items: center;
    margin-bottom: 4em;
}

.greeting-header h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8rem;
    color: #222325;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.profile-name h1 {
    font-size: 2.5rem;
    color: #22252B;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.short-info p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8rem;
    color: #222325;
    line-height: 1.5;
    text-align: justify;
}

.short-info h4 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #c4b3ad;
    font-size: 1.4rem;
    font-style: italic;
}

.short-info h4 span a {
    color: inherit;
}

hr {
    width: 90%;
    border-top: 1px solid #cccecf21;

}

.footer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 1.4rem;
    color: #909295;
    padding: 2em 0;

}

.footer img {
    width: 1.1em;
    height: 1.1em;
    position: relative;
    top: 4px;
}

.footer .mail-footer {
    cursor: pointer;
}

.mail-footer a {
    color: #909295;
    font-size: 1.4rem;
    text-decoration: none;
}



/* --------------------------------- dark mode button ------------------------------ */

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

button img {
    width: 2.5rem;
    width: 2.5rem;
    border: 1px solid #f3eaea18;
    border-radius: 50%;
    background: #fff8f89c;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.233);
    padding: 0.1em;
}

.dark-mode {
    background-color: #1F1F1F;
    color: rgb(233, 227, 227);
}


.dark-mode p,
.dark-mode h1,
.dark-mode h2 {
    color: rgb(233, 227, 227) !important;
}




/* ---------------------------------- skills -------------------------------------------------*/


.skills-para {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5em 0;
}

.skills-para h1 {

    font-size: 2.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: #000000ce;
}

.skills-para p {
    font-size: 1.4rem;
}

.skills-para h2 {
    font-size: 1.9rem;
    margin-top: 1rem;
}

.skills-info img {
    width: 5rem;
    border-radius: 6px;
    box-shadow: 0px 8px 15px rgb(90 87 87 / 10%);
    padding: 0.5rem;
    margin: 1em;
    cursor: help;
}

.skills-info h2 {
    font-size: 1.4rem;
    font-weight: 500;
    text-shadow: 2px 2px 8px #77777563;
    color: #131212;

}

.skills-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-info {

    border: 1px solid #e9e7e709;
    box-shadow: 0px 8px 15px rgba(151, 147, 147, 0.151);
    border-radius: 1.6rem;
    margin: 1rem;
    padding: 0.8rem;
    flex: 1;
}

/* ---------------tool tip------------------- */

.tooltip {
    position: relative;
    display: inline-block;
    padding: 0.3em;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 7em;
    background-color: #CAC5C1;
    color: #252523;
    text-align: center;
    border-radius: 1px;
    padding: 4px 0;
    font-size: 1.4rem;
    font-weight: 300;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    left: -20px;
    top: -30%;
}

.tooltip p {
    text-align: center;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.interest p {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0px 2px 6px rgba(155, 149, 149, 0.219);
    margin: 1rem;
    border-radius: 0.3em;
    padding: 0.3em;
    color: rgb(19, 20, 20);

}







/* ------------------------------------------- blog ---------------------------------------------- */



.blog-items-container,
.blog-items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    width: 70%;
    margin-bottom: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.171);
    box-shadow: 0px 8px 15px rgba(90, 87, 87, 0.1);
    padding: 2rem;

}

.blog-container p {
    color: rgb(105, 93, 93);
}



.blog-container img {
    width: 30rem;
    block-size: fit-content;
    border-radius: 0.2rem;

}


.blog-container img:hover {
    opacity: 0.9;
}

.blog-right-text {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;

}

.blog-right-text h1 {
    font-size: 2rem;
    text-align: left;
}

.blog-right-text h1:hover {
    color: rgb(74, 74, 78);
}

.blog-right-text p {
    padding-top: 0.5em;

    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 1rem;
}

.blog-right-text a {
    color: rgb(105, 105, 212);

}

.blog-right-text span {
    text-align: left;
    color: rgb(105, 93, 93);
    font-size: 1.2rem;
}


/*  -------------------------------------  blog pages -------------------------------------- */

.blog-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;

    margin-top: 5em;
    margin-bottom: 5em;
    width: 80%;
}

.blog-page-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.blog-page-wrapper h1 {
    font-size: 1.8rem;

}

.blog-page-wrapper a {
    color: rgb(105, 105, 212);
    font-size: 1.8rem;
}

.blog-page-wrapper span {
    margin-bottom: 1.6rem;
    font-size: 1.2rem;
    margin-top: 0.8em;
}

.blog-page-wrapper p {
    font-size: 1.5rem;
    text-align: justify;
}

.blog-page-wrapper img {
    width: 50em;
    background: grey;
    margin-bottom: 1.5rem;
    border-radius: 1px;
}


/* ------------------- media queries -------------------- */


@media only screen and (max-width: 1200px) {}


@media only screen and (max-width: 992px) {
    .container {
        width: 90%;
    }

    .blog-container {
        width: 90%;
    }

    .skills-wrapper {
        flex-direction: column;
    }

    .right-skills-info {
        width: 80%;
        padding-top: 0;
    }
}


@media only screen and (max-width: 768px) {

    .main-container {
        height: 100%;
    }

    .container {
        width: 98%;
    }

    .blog-container {
        width: 98%;
    }

    .blog-page-wrapper img {
        width: 40em;
        background: grey;
        margin-bottom: 1.5rem;
        border-radius: 1px;
    }

    .right-skills-info {
        width: 90%;
    }

    #instafeed-container .column {
        grid-template-columns: repeat(2, auto) !important;
    }

    .profile-info-wrapper {
        flex-direction: column;
        padding: 5em 0.5em;
    }

    .profile-info-wrapper .right-wrapper {
        padding-top: 5em;
    }

    .short-info p {
        text-align: justify;
    }
}

@media only screen and (max-width: 576px) {

    .skills-para h1 {
        font-size: 1.9rem;
        margin: 0 auto;
        margin-bottom: 0.5em;
    }

    .skills-para {
        text-align: center;
    }

    .skills-para p {
        font-size: 1.4rem;
    }

    .blog-container img {
        width: 20em;
    }

    .blog-page-wrapper img {
        width: 40em;
        background: grey;
        margin-bottom: 1.5rem;
        border-radius: 1px;
    }

    .blog-right-text h1 {
        font-size: 1.8em;
    }

    .blog-right-text p {
        font-size: 1.2em;
    }

    .navbar ul {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 480px) {
    .navbar ul {
        font-size: 1.2em;
    }

    .skills-para h1 {
        font-size: 1.9rem;
        margin: 0 auto;
        margin-bottom: 0.5em;
    }

    .skills-para {
        text-align: center;
    }

    button img {
        width: 1.5em;
    }

    .profile-name h1 {
        font-size: 2.6rem;
    }

    .right-wrapper {
        width: 82%;

    }

    .footer {
        font-size: 1.1rem;
    }

    .navbar ul li {
        margin-right: 1em;
    }


    .right-skills-info {
        padding-left: 1em;
        padding-right: 1em;
    }

    .blog-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .blog-container img {
        width: 100%;
    }

    .blog-right-text {
        padding-top: 1.5em;
        margin-left: 0;
    }

    .blog-page-wrapper img {
        width: 100%;
        background: grey;
        margin-bottom: 1.5rem;
        border-radius: 1px;
    }

    #instafeed-container .item {
        width: 15em;
        height: 15em;
    }


}


@media only screen and (max-width: 320px) {
    .navbar ul {
        font-size: 1.2em;
    }


    .skills-para h1 {
        font-size: 1.4rem;
        margin: 0 auto;
        margin-bottom: 0.5em;
    }

    .skills-para p {
        font-size: 1.2rem;
    }


    .skills-para {
        text-align: center;
    }

    button img {
        width: 1.5em;
    }

    .profile-name h1 {
        font-size: 2.6rem;
    }

    .right-wrapper {
        width: 82%;

    }

    .footer {
        font-size: 1.1rem;
    }

    .navbar ul li {
        margin-right: 1em;
    }

    .left-skills-info {
        padding-left: 1em;
        padding-right: 1em;
    }

    .right-skills-info {
        padding-left: 1em;
        padding-right: 1em;
    }

    .blog-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .blog-container img {
        width: 100%;
    }

    .blog-right-text {
        padding-top: 1.5em;
        margin-left: 0;
    }

    .blog-page-wrapper img {
        width: 100%;
        background: grey;
        margin-bottom: 1.5rem;
        border-radius: 1px;
    }

    #instafeed-container .item {
        width: 15em;
        height: 15em;
    }

}